
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class="nav-bar">
  <%= link_to 'Back', root_path, class:"back" %>
    <h2>Sign up</h2>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </nav>

  <br>
  <br>
  <br>
<div class="reg-container">
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "input" %>
  </div>

  <div class="field">
  <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="field">
  <%= f.label :password %>
  <% if @minimum_password_length %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
   
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input" %>
  </div>

  <div class="field">
  <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "input" %>
  </div>
  <%= render "devise/shared/links" %>
  </div>


 
<% end %>


