<nav class="nav-bar">
  <%= link_to 'Back', groups_path, class:"back color" %>
  <h1 class="color">Transactions</h1>
  <%= button_to "Log out", destroy_user_session_path,  class:"save", method: :delete, class:'logout color' %>
</nav>
<br>

<div class="transaction-container">
    <% @entities.each do |entity| %>
        <div class="category">
          <div class="details">
            <h3><%= entity.name %></h3>
            <h4>$ <%= entity.amount %></h4>
            <p><%= entity.created_at.strftime('%b %d, %Y') %></p>
          </div>
        </div>
    <% end %>
    <br>

    <div class="add-new-tran">
      <%= link_to "New Transaction", new_group_entity_path, class: 'color' %>
    </div>
</div>
