
<nav class="nav-bar">
  <%= link_to 'Back', group_entities_path, class:"back" %>
  <h1> New Transaction </h1>
  <%= button_to "Log out", destroy_user_session_path,  class:"save", method: :delete, class:'logout' %>
</nav>
<br>
<br>
<br>
<%= form_for @entity, url: group_entities_path  do |f| %>
  <% if @entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entity.errors.count, "error") %> prohibited this entity from being saved:</h2>
      <ul>
        <% @entity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :name, class: 'form-control',placeholder: "Name", class: "input" %>
  </div>
  <div class="field">
    <%= f.number_field :amount, class: 'form-control',placeholder: "Amount", class: "input" %>
  </div>
  <div class="create-group">
    <%= f.submit "Create Entity", class: 'btn btn-primary' %>
  </div>
<% end %>

