
<div class="categories-main-container">
<nav class="nav-bar">
  <h1 class="color">Categories</h1>
  <%= button_to "Log out", destroy_user_session_path,  class:"save", method: :delete, class:'logout color' %>
</nav>

<div class="category-container">
    <% @groups.each do |group| %>
        <%= link_to group_entities_path(group) do %>
          <div class="category">
              <div class="img">
                <img src="<%= group.icon%>" width="60px">
              </div>

              <div class="details-container">
                <div class="details">
                  <div>
                    <h3><%= group.name %></h3>
                  </div>
                  <div class="total">
                    <h4>$<%= group.total_amount %></h4>
                  </div>
                </div>
                <p class="date">
                  <%= group.created_at.strftime('%b %d, %Y') %>
                </p>
              </div>
              
          </div>
        <% end %>
    <% end %>
</div>

  <div class="add-new-group">
    <%= link_to "Add New Group", new_group_path %>
  </div>
</div>