

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <nav class="nav-bar">
  <%= link_to 'Back', root_path, class:"back" %>
    <h2>Log in</h2>
    <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  
<% end %>

<div class="links-container">
<%= render "devise/shared/links" %>
<div>